input{
  border-radius: 5px;
}
textarea{
  overflow: scroll;
  border-radius: 5px;
  height: 40px;
}
input.checkbox{
  margin-bottom: 10px;
}
input:focus{
  outline: none;
  border:1px solid violet;
  background-color: silver;
}
.motInsc{
  height: 40px;
}
.nota{
  border:0.5px solid;
  border-style: dashed;
  font-size:12px;
  font-style: italic;
}
div label:nth-child(1){
  width:15%;
  float: left;
}
p{
  display: inline;
}
